.emails-editor {
    border-top: 1px solid #CBCBCB;
    height: 89px;
    background-color: #fff;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.7em;
}

.emails-editor input {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.emails-editor .email {
    position: relative;
    padding: 0 10px;
    margin: 0 4px 3px 0;
    max-width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    height: 24px;
    line-height: 24px;
    background-color: rgba(102, 153, 255, 0.15); /*#6699ff*/
    border-radius: 12px;
}

.emails-editor .email .content {
    max-width: calc(100% - 10px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
}

.emails-editor .email .btn-delete {
    display: inline-block;
    width: 10px;
    height: 25px;
    opacity: 1;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 24px;
}

.emails-editor .email.invalid {
    background-color: transparent;
    padding: 0 5px;
}
.emails-editor .email.invalid .content {
    border-bottom: 1px solid red;
}